<%- include('./partials/head') %>

    <main>
        <div>
            <ul>
                <% blogData.forEach(blog => { %>
                    <a href="/<%-blog.slug%>">
                        <li>
                            <section>
                            <h3><%-blog.title%></h3>
                            </section>
                        </li>
                     </a>
                <% }); %>
            </ul>
         </div>
    </main>

<%- include('./partials/foot') %>
