@font-face {
    font-family: "Roboto Flex";
    src: url("../assets/fonts/RobotoFlex-Regular.ttf");
}

:root {
    --regular-font: "Roboto Flex", arial, sans-serif;

    --color-light-pink: #F294D9;
    --color-light-blue: #6886ff;
    --color-light-green:#16ff86;
    --color-dark-orange: #F25000;
    --color-dark-blue: #1000f2;


    --white:#F2EDE9;
    --black:#262626;

    --transition: 0.5s ease-in-out 0.1s;
}

body {
    margin: 0;
    padding: 0; 
    width: 100%;
}

html {
    font-family: var(--regular-font);
}

header,
footer {
    --padding:0 2em;

    background: var(--black);
    background-color: var(--black);
    color:var(--white);
    font-size: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}

header {
    padding:var(--padding);

}

header a {
    cursor: pointer;
    padding: .2em
}

header a {
    fill: var(--color-light-green);
}

header a:hover {
    fill: var(--black);
    background-color: var(--color-light-green);
}

footer {
 font-size: 1.5em;
 bottom: 0;
 padding: var(--padding);
}

footer a {
 color: #16ff86;
 text-decoration: none;
 transition: var(--transition);
}

footer a:hover{
    color: var(--color-light-pink);
    font-weight: 900;
}

main {
    padding: 2em;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
    color: var(--color-dark-blue);
}


.hoofdpagina,
.artikel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hoofdpagina {
    background-color: var(--color-dark-orange);

}

.hoofdpagina h2 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2em;
    display: flex;
    justify-content: center;
}

.hoofdpagina-blogs {
    max-width: 1080px;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.hoofdpagina-blogs ul {
    display: block;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;
    unicode-bidi: isolate;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;
    gap: .5em;
}

.hoofdpagina-blogs ul li {
    --border-radius:10em;
    transition: padding 0.5s ease-in-out 0.1s, 
                box-shadow 0.5s ease-in-out 0.1s,
                border-radius 0.5s ease-in-out 0.1s,
                transform 0.5s ease-in-out 0.1s;
    width: 15em;
    height: 15em;
    border-radius: var(--border-radius);
    transform: scale(1);
    padding: 3em;
    position: relative; /* Allow overlap with absolute positioning */
    z-index: 1; /* Default z-index for stacking context */
    margin: 0; /* Remove margin from the li */
    position: relative;

    display: flex;
    display: flex;
    align-items: flex-end;
    justify-content: center;

}

/* Styles for the hovered element */
.hoofdpagina-blogs ul li:hover {
    transform: scale(1.5); /* Scale up the hovered element */
    transition-duration: 200ms ease-out;
    border-radius: 15em;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    z-index: 10; /* Bring the hovered element to the front */
}

.hoofdpagina-blogs ul li:nth-child(4n + 1) {
    background-color: var(--color-light-green);
}

.hoofdpagina-blogs ul li:nth-child(4n + 2) {
    background-color: var(--color-light-pink); 
}

.hoofdpagina-blogs ul li:nth-child(4n + 3) {
    background-color: var(--color-light-blue);
}

.hoofdpagina-blogs ul li:nth-child(4n + 4) {
    background-color: var(--color-light-green);
}

.hoofdpagina ul li a {
    position: absolute;

    z-index: 1;
    padding: inherit;
    width: inherit;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    transform: scale(.7);
    gap: .5em;
}

.hoofdpagina-blogs ul li a:link, 
.hoofdpagina-blogs ul li a:active,
.hoofdpagina-blogs ul li a:visited {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

.hoofdpagina-blogs ul li a p,
.hoofdpagina-blogs ul li a h3 { 
    margin-block-start: 0;
    margin-block-end: 0;
}

.hoofdpagina-blogs ul li a .hoofdpagina-blogs-type {
    background-color: var(--white);
    display: inline-block;
    color: var(--black);
    padding: 1em;
    font-size: .8em;
    font-weight: 900;
    border-radius: var(--border-radius);

}

.artikel {
    background-color: var(--color-light-pink);
    min-height: 100vh;

}

.artikel section {
    max-width: 900px;

}

.artikel section .back-button {
    background-color: var(--black);
    color: #16ff86;
    padding: 1em;
}